#comment_score
{
	display: none;
}
.recettePage
{
	.showPage
	{
		.commentaires
		{
			margin: $space-6 auto 0;
			max-width: 1200px;
			width: 100%;
			.newCommentContainer
			{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.commentsForm
			{
				margin-bottom: $space-3;
			}
			textarea
			{
				padding-top: $space-1;
				width: calc(100% - (2 * #{$space-1}));
				min-height: 120px;
			}
			button
			{
				margin-top: $space-1;
			}
			.communaute
			{
				li
				{
					margin-bottom: $space-4;
				}
				.auteur
				{
					display: inline-block;
				}
				.scoreContainer
				{
					margin-left: $space-2;
					display: inline-flex;
					color: $color-dark;
				}
				.auteur
				{
					font-weight: bold;
				}
			}

			.scoreContainer
			{
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-start;
				align-items: center;

				input
				{
					display: none;
				}

				.checked
				{	
					display: none;
				}

				label
				{
					font-size: 36px;
					color: $color-hot;
					&:hover
					{
						cursor: pointer;
					}
				}

				// checked
				input:checked ~ label
				{
					.checked
					{
						display: block;
					}
					.unchecked
					{
						display: none;
					}
				}

				// hover cascade
				&:not(:checked) > label:hover, &:not(:checked) > label:hover ~ label 
				{
					.checked
					{
						display: block;
						color: $color-dark;
					}
					.unchecked
					{
						display: none;
					}	
				}

				// hover cascade already checked
				/*
				input:checked + label:hover, input:checked + label:hover ~ label, input:checked ~ label:hover, input:checked ~ label:hover ~ label, label:hover ~ input:checked ~ label
				{
					.checked
					{
						color: green;
						display: block;
					}
					.unchecked
					{
						display: none;
					}	
				}
				*/
			}
			.scoreContainer.alert
			{
				position: relative;
				&:before
				{
					content:'Veuillez choisir une note!';
					position: absolute;
					left: 0;
					top: 50%;
					width: 210px;
					transform: translate(-100%, -50%);
					color: red;
					font-weight: bold;
					font-family: $fontFamily-text;
				}
			}
		}
	}
}
