// common
.maxWidthMain
{
	margin: 0 auto;
	padding: 0 $spaceWidth-page;
	max-width: $maxWidth-main;
	width: 100%;
}
.inputField, input, select, textarea
{
	border: 2px solid $color-hot;
	padding: 0 $space-1;
	height: 52px;
	color: $color-light;
	background-color: $color-dark;
}
#main
{
	margin-top: $space-3;
	width: 100%;
	h2
	{
		margin-bottom: $space-3;
	}
	.infoSms, .alertSms
	{
		font-weight: bold;
		font-family: $fontFamily-text;
	}
	.infoSms
	{
		color: green;
	}
	.alertSms
	{
		color: red;
	}
}
// Index Page
.recettesListContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.recetteLink
{
	margin-bottom: $space-4;
	border: $borderSize-main solid $color-hot;
	display: flex;
	flex-direction: column;
	max-width: calc(400px + (2 * #{$borderSize-main}));
	width: 100%;
	h3
	{
		margin-bottom: 0;
		padding: 4px $space-1;
		width: 100%;
		text-align: center;
		color: $color-light;
		background-color: $color-dark;
		white-space:nowrap;
		overflow: hidden;
  		text-overflow: ellipsis;
	}
	img
	{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	.recetteAverageScore
	{
		padding-right: $space-0;
		display: inline-block;
		text-align: right;
		background-color: $color-dark;
		.star
		{
			display: inline-block;
			font-size: $fontSize-stars;
			color: $color-light;
			font-weight: normal;
		}
	}
}
#main.indexPage
{
	h2
	{
		margin-bottom: 0;
	}
}
.indexPage
{
	.rowTitre
	{
		margin-bottom: $space-3;
		h2
		{
			white-space:nowrap;
		}
		.filtrerTrierForm
		{
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
			flex-wrap: wrap;
			.filtrerContainer
			{
				margin: $space-2 $space-2 $space-2 0;
				position: relative;
				display: flex;
				align-items: baseline;
				h3
				{
					margin-bottom: 0;
					display: inherit;
					color: $color-hot;
					&:hover
					{
						cursor: pointer;
						& ~ .hiddenContainer
						{
							display: block;
						}
					}
				}
				.filtrerDetail
				{
					margin-left: $space-0;
					font-family: $fontFamily-text;
					font-size: $fontSize-main;
					color: $color-dark;
				}
				label
				{
					margin: 0;
					padding: $space-0 $space-1 $space-0 0;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					color: $color-hot;
					background-color: $color-light;
					font-family: $fontFamily-text;
					font-weight: bold;
					font-size: $fontSize-main;
					&:hover
					{
						color: $color-light;
						background-color: $color-hot;
						cursor: pointer;
					}
					&:first-child
					{
						margin-top: $space-0;
					}
					&:last-child
					{
						margin-bottom: $space-0;
					}
				}
				input
				{
					margin: 0 $space-1;
					height: auto;
				}
				.autres
				{
					border-bottom: 1px solid $color-hot;
				}
				.hiddenContainer
				{
					border-left: 2px solid $color-hot;
					position: absolute;
					top: 25px;
					display: none;
					background-color: $color-light;
					z-index: 1;
					&:hover
					{
						display: block;
					}
				}
			}
			.trierContainer
			{
				margin-right: $space-4;
				white-space:nowrap;
				h3, select
				{
					display: initial;
				}
				select
				{
					font-family: $fontFamily-text;
					font-weight: bold;
					color: $color-hot;
					background-color: $color-light;
					option
					{
						&:hover
						{
							color: $color-light;
							background-color: $color-hot;
						}
					}
					&:hover
					{
						cursor: pointer;
					}
				}
			}
		}
	}
	.pagination
	{
		margin-bottom: $space-4;
		font-family: $fontFamily-title;
		text-align: center;
		font-size: $fontSize-h2;
		.current
		{
			font-size: $fontSize-h1;
			color: $color-dark;	
			font-weight: bold;				
		}
	}
}

// Common to ShowPage, CreatePage and EditPage
.recettePage
{
	padding-bottom: $space-6;
	.editPage, .createPage
	{
		.infoSms, .alertSms
		{
			margin-bottom: $space-1;
		}
	}
	.showPage, .editPage, .createPage
	{
		h2
		{
			overflow: hidden;
	  		text-overflow: ellipsis; 
		}
		h4
		{
			margin-bottom: $space-0;
		}
		.row
		{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.col-1
		{
			.updateImage
			{
				border: $borderSize-main solid $color-hot;
				position: relative;
				max-width: 400px;
				width: 100%;
				max-height: 300px;
				height: 100%;
				text-align: center;
			}
			.imageFileLabel
			{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				font-family: $fontFamily-text;
				color: $color-hot;
				font-size: $fontSize-main;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(0, 0, 0, 0.8);
				&:hover
				{
					cursor: pointer;
				}
			}
			img
			{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			input
			{
		 		position: absolute;
		 		top: 0;
		 		left: 0;
		 		opacity: 0;
		 	}	 	
		}
		.col-2
		{
			margin-left: $space-4;
			flex: 1;
	 		height: 100%;
			.titre
			{
				width: 100%;
			}
			.row
			{
				margin-bottom: $space-2;
			}
			.nbrPers
			{
				margin-right: $space-3;
			}
			.tempsContainer
			{
				margin-left: auto;
				text-align: right;
				.tempsPrepa, .tempsCuisson
				{
					white-space: nowrap;
					// space between hours and minutes
					& select:nth-child(1)
					{
						margin-right: $space-0;
					}
					& select:nth-child(2)
					{
						margin-left: $space-0;
					}
				}
				.tempsCuisson
				{
					margin-top: $space-2;
				}
			}
		}
		.col-3
		{
			margin-left: $space-4;
			.type
			{
				label
				{
					text-align: right;
				}
				select
				{
					min-width: 162px;
				}
			}
		}
		label
		{
			display: block;
		}
	 	input[type=text]
	 	{
	 		width: 100%;
	 	}

	 	.col-4, .col-5
	 	{
	 		h3
	 		{
	 			margin: $space-4 0 $space-1;
	 		}
	 		li
	 		{
	 			margin-bottom: $space-0;
	 			border: 2px solid $color-hot;
	 			padding: $space-0;
	 			display: flex;
	 			justify-content: space-between;
	 			background-color: $color-dark;
	 			& > div
	 			{
	 				flex: 1;
	 			}
	 		}
	 		label
	 		{
	 			display: none;
	 		}
	 		input[type=text], textarea
	 		{
	 			border: none;
	 		}
	 		.remove-ingredient, .remove-etape
	 		{
	 			width: 52px;
	 			height: 52px;
	 		}
	 	}
	 	.col-4
		{
			min-width: 400px;
			width: 400px;
		}
		.col-5
		{
			margin: 0 0 0 $space-4;
			flex: 1;
			textarea
			{
				width: calc(100% - (2 * #{$space-1}));
				min-height: 104px;
				scrollbar-width: none;
			}
		}
		.userBtnContainer
		{
			position: fixed;
			bottom: $space-2;
			right: $spaceWidth-page;
			.editBtn
			{
				margin-bottom: $space-1;
			}
		}
	}
}

// ShowPage
.recettePage
{
	.showPage
	{
		& > .row:nth-of-type(2)
		{
			flex-wrap: wrap;
		}
		p
		{
			margin-bottom: $space-2;
		}
		.tools
		{
			margin-left: auto;
			display: inline-block;
			white-space: nowrap;
			img
			{
				width: 43px;
				height: 43px;
				&:last-child
				{
					margin-left: 16px;
				}
			}
		}
		.col-1
		{
			img
			{
				width: 400px;
				height: 300px;
			}
		}
		.col-2
		{
			.row
			{
				align-items: baseline;
			}
		}
		.col-3
		{
			flex: 1;
			height: 308px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.recetteAverageScoreContainer
			{
				h3
				{
					display: inline-block;
				}
			}
			a
			{
				white-space: nowrap;
			}
		}
		.col-4, .col-5
		{
			overflow: hidden;
			p
			{
				overflow: hidden;
	  			text-overflow: ellipsis; 
			}
		}
		.recetteAverageScore
		{
			display: inline-block;
			.star
			{
				display: inline-block;
				font-size: 24px;
				color: $color-dark;
			}
		}
	}
}

// Login
.loginPage
{
	h2
	{
		width: 100%;
	}
	.mainContent
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.infoSms, .alertSms
	{
		width: 100%;
	}
	.col-1
	{
		flex: 1;
		form
		{
			max-width: 512px;
			width: 100%;
			label
			{
				display: block;
				color: $color-hot;
			}
			& > input
			{
				margin-bottom: $space-3;
			}
			input[type="text"], input[type="password"], input[type="email"]
			{
				width: 100%;
			}
			.infoSms, .alertSms
			{
				margin-bottom: $space-1;
			}
		}
		.optionsContainer
		{
			margin-bottom: $space-3;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;
			.rememberContainer
			{
				white-space:nowrap;
				label, input
				{
					margin-bottom: 0;
					height: auto;
					display: inline-block;
					&:hover
					{
						cursor: pointer;
					}
				}
			}
			.rememberContainer label, .forgetPwdBtn
			{
				font-size: $fontSize-main;
			}
			.forgetPwdBtn
			{
				margin-left: $space-0;
			}
		}
		.signinContainer
		{
			margin-top: $space-3;
		}
	}
	.col-2
	{
		flex: 1;
	}
}

.googleLogin, .facebookLogin
{
	display: block;
	h3
	{
		display: inline-block;
	}
	img
	{
		display: block;
		width: 52px;
		height: 52px;
	}
}
.googleLogin
{
	h3
	{
		color: $googleColor;
	}
}
.facebookLogin
{
	margin-top: $space-3;
	h3
	{
		color: $facebookColor;
	}
}