#main
{
	margin-top: $space-3;
	width: 100%;
	h2
	{
		margin-bottom: $space-3;
	}
	.infoSms, .alertSms
	{
		font-weight: bold;
	}
	.infoSms
	{
		color: green;
	}
	.alertSms
	{
		color: red;
	}
}
.recettesListContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.recetteLink
{
	margin-bottom: $space-4;
	border: 3px solid $color-hot;
	display: flex;
	flex-direction: column;
	h3
	{
		margin-bottom: 0;
		padding: 4px;
		width: 100%;
		text-align: center;
		color: $color-light;
		background-color: $color-dark;
	}
	img
	{
		width: 400px;
		height: 300px;
		object-fit: cover;
	}
	.recetteAverageScore
	{
		padding-right: $space-0;
		display: inline-block;
		text-align: right;
		background-color: $color-dark;
		.star
		{
			display: inline-block;
			font-size: 24px;
			color: $color-light;
			font-weight: normal;
		}
	}
}
.indexPage
{
	.rowTitre
	{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		h2
		{
			flex: 1;
		}
		.filtrerTrierForm
		{
			flex: 2;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			.filtrerContainer
			{
				flex: 2;
				position: relative;
				h3
				{
					color: $color-hot;
					&:hover
					{
						cursor: pointer;
					}
				}
				.filtrerDetail
				{
					font-size: 18px;
				}
				label
				{
					margin: 0;
					padding: $space-0 $space-1 $space-0 0;
					display: block;
					color: $color-hot;
					background-color: $color-light;
					font-family: $fontFamily-text;
					font-weight: bold;
					font-size: 18px;
					&:hover
					{
						color: $color-light;
						background-color: $color-hot;
						cursor: pointer;
					}
					&:first-child
					{
						margin-top: $space-0;
					}
					&:last-child
					{
						margin-bottom: $space-0;
					}
				}
				input
				{
					margin: 0 $space-1;
				}
				.autres
				{
					border-bottom: 1px solid $color-hot;
				}
				.hiddenContainer
				{
					border-left: 2px solid $color-hot;
					position: absolute;
					display: none;
					background-color: $color-light;
					z-index: 1;
				}
				&:hover
				{
					.hiddenContainer
					{
						display: block;
					}					
				}
			}
			.trierContainer
			{
				flex: 1;
				text-align: center;
				h3, select
				{
					display: inline-block;
				}
				select
				{
					font-family: $fontFamily-text;
					font-weight: bold;
					color: $color-hot;
					background-color: $color-light;
					option
					{
						&:hover
						{
							color: $color-light;
							background-color: $color-hot;
						}
					}
					&:hover
					{
						cursor: pointer;
					}
				}
			}
		}
	}
	.pagination
	{
		margin-bottom: $space-4;
		font-family: $fontFamily-title;
		text-align: center;
		font-size: $fontSize-h2;
		.current
		{
			font-size: $fontSize-h1;
			color: $color-dark;	
			font-weight: bold;				
		}
	}
}

.recettePage
{
	padding-bottom: $space-6;
	.showPage, .editPage, .createPage
	{
		h4
		{
			margin-bottom: $space-0;
		}
		.row
		{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.col-1
		{
			border: 3px solid $color-hot;
			position: relative;
			min-width: 400px;
			width: 400px;
			min-height: 300px;
			height: 300px;
			img
			{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			input
			{
		 		position: absolute;
		 		top: 0;
		 		left: 0;
		 		width: 100%;
		 		height: 100%;
		 		opacity: 0;
		 	}	 	
		}
		.col-2
		{
			margin-left: $space-4;
			flex: 1;
	 		height: 100%;
			.titre
			{
				width: 100%;
			}
			.row
			{
				margin-bottom: $space-2;
			}
			.nbrPers
			{
				margin-right: $space-3;
			}
			.tempsContainer
			{
				margin-left: auto;
				text-align: right;
				.tempsPrepa, .tempsCuisson
				{
					// space between hours and minutes
					& select:nth-child(1)
					{
						margin-right: $space-0;
					}
					& select:nth-child(2)
					{
						margin-left: $space-0;
					}
				}
				.tempsCuisson
				{
					margin-top: $space-2;
				}
			}
		}
		.col-3
		{
			margin-left: $space-4;
			.type
			{
				label
				{
					text-align: right;
				}
				select
				{
					min-width: 162px;
				}
			}
		}
		label
		{
			display: block;
		}
		input[type=text], input[type=number], select, textarea
	 	{
	 		border: 2px solid $color-hot;
	 		padding: 0 $space-1;
	 		height: 52px;
	 		color: $color-light;
	 		background-color: $color-dark;
	 	}
	 	input[type=text]
	 	{
	 		width: 100%;
	 	}

	 	.col-4, .col-5
	 	{
	 		h3
	 		{
	 			margin: $space-4 0 $space-1;
	 		}
	 		li
	 		{
	 			margin-bottom: $space-0;
	 			border: 2px solid $color-hot;
	 			padding: $space-0;
	 			display: flex;
	 			justify-content: space-between;
	 			background-color: $color-dark;
	 			& > div
	 			{
	 				flex: 1;
	 			}
	 		}
	 		label
	 		{
	 			display: none;
	 		}
	 		input[type=text], textarea
	 		{
	 			border: none;
	 		}
	 		.remove-ingredient, .remove-etape
	 		{
	 			width: 52px;
	 			height: 52px;
	 		}
	 	}
	 	.col-4
		{
			min-width: 400px;
			width: 400px;
		}
		.col-5
		{
			margin: 0 194px 0 $space-4;
			flex: 1;
			textarea
			{
				width: calc(100% - (2 * #{$space-1}));
				min-height: 104px;
				scrollbar-width: none;
			}
		}
		.userBtnContainer
		{
			position: fixed;
			bottom: $space-2;
			right: $spaceWidth-page;
			.editBtn
			{
				margin-bottom: $space-1;
			}
		}
	}
}

.recettePage
{
	.showPage
	{
		p
		{
			margin-bottom: $space-2;
		}
		.tools
		{
			margin-left: auto;
			display: inline-block;
			img
			{
				width: 43px;
				height: 43px;
				&:last-child
				{
					margin-left: 16px;
				}
			}
		}
		.col-2
		{
			.row
			{
				align-items: baseline;
			}
		}
		.col-3
		{
			flex: 1;
			.recetteAverageScoreContainer
			{
				h3
				{
					display: inline-block;
				}
			}
		}
		.recetteAverageScore
		{
			display: inline-block;
			.star
			{
				display: inline-block;
				font-size: 24px;
				color: $color-dark;
			}
		}
	}
}