html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, select, option, button
{
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
}
html
{
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	background-color: $color-light;
}
body
{
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1, a
{
	font-family: $fontFamily-title;
	font-weight: bold;
	color: $color-hot;
}
h2, h3
{
	&::first-letter
	{
		text-transform: uppercase;
	}
}
h2
{
	font-family: $fontFamily-title;
	font-size: $fontSize-h2;
	font-weight: bold;	
}
h3, label
{
	margin-bottom: $space-1;
	font-family: $fontFamily-title;
	font-size: $fontSize-h3;
	font-weight: bold;
	color: black;
}
h4
{
	font-family: $fontFamily-title;
	font-size: $fontSize-main;
	font-weight: bold;
	color: $color-dark;	
}
li
{
	list-style: none;
}
p, input, textarea, select
{
	font-family: $fontFamily-text;
	font-size: $fontSize-main;
}
a
{
	text-decoration: none;
}
textarea
{
	resize: none;
}
.btn, button
{
	padding: 0 $space-2;
	border: 1px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 52px;
	font-family: $fontFamily-title;
	font-size: $fontSize-btn;
	font-weight: bold;
	color: $color-light;
	background-color: $color-hot;
	transition: all 0.2s;
	font-style: uppercase;
}
.btn:hover, button:hover
{
	border-color: $color-hot;
	color: $color-hot;
	background-color: $color-light;
	cursor: pointer;
}