$pink: rgb(255, 82, 173);
$darkGrey: rgb(69, 77, 85);
$white: rgb(245, 243, 235);

$color-hot: $pink;
$color-dark: $darkGrey;
$color-light: $white;

$fontFamily-title: 'Source Sans Pro', sans-serif;
$fontFamily-text: 'Raleway', sans-serif;

$maxWidth-header: 1920px;
$maxWidth-main: 1795px;
$spaceWidth-page: 44px;
$spaceWidth-mainSection: 100px;

$space-0: 8px;
$space-1: 12px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 48px;
$space-6: 64px;


$fontSize-h1: 48px;
$fontSize-h2: 30px;
$fontSize-h3: 22px;
$fontSize-btn: 20px;

$main-fontSize: 18px;